<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>Water Quality in NYC</title>
</head>

<body>
  <div class="container">
    <h1>Water Quality in NYC</h1>
      <h2>Context</h2>
      <p>For my Advanced Computer Science Class I was tasked to look at data relating to either social justice, NYC, the environment, or education. <br>
        I found the water quality in New York City to be particularly interesting. The data that I include in this project examines the lead and copper levels in tap water. <br>
        The data has been collected over a set of nine years (2014-2023) in all five boroughs and for different zip codes within those boroughs.
      </p>

      <h2>Data Cleansing Process</h2>
      <p>Narrowing the data down from almost 4,000 data points to 341, allows for viewers to digest and understand overall trends in the data with more ease. <br>
        I decided to narrow my scope to just the year 2023 since it is the most recent set of data. 2023 Has 341 data points; <br> 
        3 from Manhattan, 132 from Staten Island, 15 from the Bronx, 11 from Queens, and 179 from Brooklyn. <br>
        I also removed some less relevant data points such as the kit number and the date the sample was recieved by the office (Data still includes the date the sample was taken).
          </p>
    
        <h3>Original Data Set <a href="https://data.cityofnewyork.us/Environment/Compliance-at-the-tap-Lead-and-Copper-Data/3wxk-qa8q/data_preview">NYCOpenData</a></h3>
        <footer>Designed by Drew Friedman</footer>
  </div>
  
</body>
</html>
